.php_cs.cache

plugins/OAuth2/vendor/guzzlehttp/psr7/*
!plugins/OAuth2/vendor/guzzlehttp/psr7/LICENSE
!plugins/OAuth2/vendor/guzzlehttp/psr7/src/

plugins/OAuth2/vendor/javanile/php-imap2/*
!plugins/OAuth2/vendor/javanile/php-imap2/LICENSE
!plugins/OAuth2/vendor/javanile/php-imap2/bootstrap.php
!plugins/OAuth2/vendor/javanile/php-imap2/src/

plugins/OAuth2/vendor/pimple/pimple/*
!plugins/OAuth2/vendor/pimple/pimple/LICENSE
!plugins/OAuth2/vendor/pimple/pimple/src/

plugins/OAuth2/vendor/psr/container/*

plugins/OAuth2/vendor/psr/http-factory/*
!plugins/OAuth2/vendor/psr/http-factory/LICENSE
!plugins/OAuth2/vendor/psr/http-factory/src/

plugins/OAuth2/vendor/psr/http-message/*
!plugins/OAuth2/vendor/psr/http-message/LICENSE
!plugins/OAuth2/vendor/psr/http-message/src/

plugins/OAuth2/vendor/ralouphie/getallheaders/*
!plugins/OAuth2/vendor/ralouphie/getallheaders/LICENSE
!plugins/OAuth2/vendor/ralouphie/getallheaders/src/

plugins/OAuth2/vendor/symfony/polyfill-iconv/*
!plugins/OAuth2/vendor/symfony/polyfill-iconv/LICENSE
!plugins/OAuth2/vendor/symfony/polyfill-iconv/bootstrap.php
!plugins/OAuth2/vendor/symfony/polyfill-iconv/bootstrap80.php
!plugins/OAuth2/vendor/symfony/polyfill-iconv/Iconv.php
!plugins/OAuth2/vendor/symfony/polyfill-iconv/Resources/

plugins/OAuth2/vendor/symfony/polyfill-mbstring/*
!plugins/OAuth2/vendor/symfony/polyfill-mbstring/LICENSE
!plugins/OAuth2/vendor/symfony/polyfill-mbstring/bootstrap.php
!plugins/OAuth2/vendor/symfony/polyfill-mbstring/bootstrap80.php
!plugins/OAuth2/vendor/symfony/polyfill-mbstring/Mbstring.php
!plugins/OAuth2/vendor/symfony/polyfill-mbstring/Resources/

plugins/OAuth2/vendor/zbateson/mail-mime-parser/*
!plugins/OAuth2/vendor/zbateson/mail-mime-parser/LICENSE
!plugins/OAuth2/vendor/zbateson/mail-mime-parser/src/

plugins/OAuth2/vendor/zbateson/stream-decorators/*
!plugins/OAuth2/vendor/zbateson/stream-decorators/LICENSE
!plugins/OAuth2/vendor/zbateson/stream-decorators/src/
